header img {
    width: 200px;
    height: auto;
}
header{
    display: flex;
    align-items: center;
    gap: 40px;
}

.menu{
    display: flex;
    align-items: center;
    gap: 40px;
}
.menu a{
    font-size: 30px;
    text-decoration: none;
    color: #555;
}
body {
  background-color: #f0f0f0;  
}
.escrita img{
    width: 180px;
}
.hero{
    background-color: #26005c;
    height: 600px;
    display: flex;
}
.hero-texto{
    width: 50%;
    padding: 80px 60px;
    color: white;
}
.Recursos{
    text-align: center;

}
